<!-- 1) Harita -->
<section class="map-section">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3007.3225848143247!2d29.018705975517847!3d41.08379791477212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cabb3a5c80175d%3A0x934c44e54c8e009!2sDr%20Terziler%20Exclusive%20Clinic!5e0!3m2!1str!2str!4v1762253435700!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<!-- 2) Footer -->
<footer class="site-footer">
  <div class="footer-inner">
    <p>Copyright © 2025 HALAT AKSOY. All Rights Reserved.</p>

    <div class="footer-social">
      <!-- Facebook -->
      <a href="https://www.facebook.com/drterziler/" target="_blank" aria-label="Facebook">
        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/facebook-new.png" alt="facebook-new"/>
      </a>

      <!-- Instagram -->
      <a href="https://instagram.com/drterziler" target="_blank" aria-label="Instagram">
        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/instagram-new.png" alt="instagram-new"/>
      </a>

      <!-- YouTube -->
      <a href="https://www.youtube.com/@DrTerzilerOfficial" target="_blank" aria-label="YouTube">
        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/youtube-play.png" alt="youtube-play"/>
      </a>

      <!-- X -->
      <a href="https://twitter.com/drterziler" target="_blank" aria-label="X">
        <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/twitterx--v1.png" alt="twitterx--v1"/>
      </a>

      <!-- LinkedIn -->
      <a href="https://tr.linkedin.com/company/dr-terziler-exclusive-hair-clinic" target="_blank" aria-label="LinkedIn">
        <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/linkedin.png" alt="linkedin"/>
      </a>

      <!-- Spotify -->
      <a href="https://open.spotify.com/show/0bLmeUdbihrl8Jk3G2peAq" target="_blank" aria-label="Spotify">
        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/spotify.png" alt="spotify"/>
      </a>
    </div>
  </div>
</footer>


<!-- 3) Sağ alttaki buton
<button class="floating-btn">
  Ücretsiz Danışmanlık Al
</button>-->

